.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.809615;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.966862;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.948000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.916000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(42,54,98);}
.fc0{color:rgb(87,100,144);}
.fs4{font-size:132.522594px;}
.fs1{font-size:180.269992px;}
.fs2{font-size:188.249992px;}
.fs3{font-size:267.419986px;}
.fs0{font-size:494.287726px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.000010px;}
.ya{bottom:20.215895px;}
.y9{bottom:66.307813px;}
.y8{bottom:256.799629px;}
.y7{bottom:335.549626px;}
.y6{bottom:456.820589px;}
.y3{bottom:608.132910px;}
.y2{bottom:702.540053px;}
.y5{bottom:860.176644px;}
.y4{bottom:912.676642px;}
.h7{height:94.886177px;}
.h4{height:139.456913px;}
.h5{height:141.187494px;}
.h6{height:206.876171px;}
.h3{height:344.518545px;}
.h2{height:1439.999940px;}
.h1{height:1440.000000px;}
.h0{height:1440.000030px;}
.w1{width:809.999966px;}
.w0{width:810.000000px;}
.x0{left:0.000000px;}
.x6{left:6.804525px;}
.x5{left:25.257684px;}
.x7{left:63.382648px;}
.x1{left:177.255475px;}
.x3{left:190.828132px;}
.x2{left:224.263990px;}
.x4{left:254.132817px;}
.x8{left:494.071123px;}
.x9{left:550.323740px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs4{font-size:176.696792pt;}
.fs1{font-size:240.359990pt;}
.fs2{font-size:250.999990pt;}
.fs3{font-size:356.559981pt;}
.fs0{font-size:659.050302pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.000013pt;}
.ya{bottom:26.954527pt;}
.y9{bottom:88.410418pt;}
.y8{bottom:342.399506pt;}
.y7{bottom:447.399501pt;}
.y6{bottom:609.094119pt;}
.y3{bottom:810.843880pt;}
.y2{bottom:936.720070pt;}
.y5{bottom:1146.902192pt;}
.y4{bottom:1216.902189pt;}
.h7{height:126.514903pt;}
.h4{height:185.942551pt;}
.h5{height:188.249992pt;}
.h6{height:275.834894pt;}
.h3{height:459.358060pt;}
.h2{height:1919.999920pt;}
.h1{height:1920.000000pt;}
.h0{height:1920.000040pt;}
.w1{width:1079.999955pt;}
.w0{width:1080.000000pt;}
.x0{left:0.000000pt;}
.x6{left:9.072700pt;}
.x5{left:33.676912pt;}
.x7{left:84.510197pt;}
.x1{left:236.340634pt;}
.x3{left:254.437509pt;}
.x2{left:299.018654pt;}
.x4{left:338.843755pt;}
.x8{left:658.761497pt;}
.x9{left:733.764987pt;}
}
